@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


header.header{
    display: flex;
}

/*taille image*/
header.header img{
    width: 150px;
}

section.top-page{
    background: #646464;
    background-size: cover;
    height: 120px;
}
nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

nav.nav li a{
    color:white;
    text-decoration: none;
}

.Logo{
    float: left;
    display: none;
}

.recherche {
    margin-top: 40px
}