@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.landing-page{
    color: white;
    margin-left: 30px;
}

.section-title{
    font-size: 50px;
    font-family: 'Abril FatFace';
    font-weight: 100;
    position: relative;
    color: black;
    text-decoration: none;
}

.case {
    border: 5px solid black;
    border-radius: .5em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    flex-direction: column;
    height: 550px;
    margin: 5%;
    color: black;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
    align-items: center;
  }
  
  .container2 {
    width: 1500px;
    border: 5px solid black;
    border-radius: .5em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  
  .item {
    width: 90px;
    height: 37px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    
  }
  .arrondi1{
    border-radius : 100px / 20px;
    background: black;
}

.photo-bis{
   margin-left: 40px;
   text-align: center;
}

.photo-bi{
    margin: 100px;
}

.section-title{
    font-size: 50px;
    font-family: 'Abril FatFace';
    font-weight: 100;
    position: relative;
    color: black;
    text-decoration: none;
}

.section-title::before{
    content: "";
    position: absolute;
    background-color: #add981;
    width: 50px;
    height: 7px;
    bottom: 0;
    text-decoration: none;
}

.best-items{
    margin: 100px;
    text-align-last: center;
    text-decoration: none;

}

.best-boutique{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align-last: center;
    color: black;
    text-decoration: none;
}

.boutique-box{
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid{
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.boutique1{
    background-image: url(../mini-aspirateur-usb.jpg);
}

.boutique2{
    background-image: url(../frigo-usb-1.jpg);
}

.boutique3{
    background-image: url(../frigo-usb.jpg);
}

.boutique4{
    background-image: url(../chauffe-tasse-biscuit-usb.jpg);
}

.boutique-details{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;

}


figure{
  border: 1px solid #333;
  padding: 5px;
  width: 500px;
}

figcaption{
  background-color: RGBa(0,0,0,0.8);
  color: #FFFFFFDF;
  text-align: center;
  font-style: italic;
}

.nomVille{
  color: black;
  line-height: 3px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}

.big-title{
    color: black;
}

.text-center-img {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.boutique-price{
  color: #add981;
  line-height: 3px;
  font-size: 14px;
  font-weight: 800;
}

.boutique-name{
  padding-top: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 3px;
}

.boutique {
  width: 100%;
  border-spacing: 20px 2rem;
}

.boutique-taille {
  background-color: #FFFFFFDF;
  border: 2px solid black;
  border-radius: 10px;
  width: 25%;
}

.img {
  width: 200px;
}

.img-produits {

}

.img-boutiques {

}